# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\coren\OneDrive\Documents\Q6 2020-2021\LEPL1110 - ElFi\Devoir 4\Poisson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
